body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header, nav.menu-lateral, main {
    flex: 1;
}

.interface{
    max-width: 1250px;
    margin: 0 auto;
}

footer{
    background-color: rgb(33, 61, 143);
    color: white;
    padding: 40px 0 ;
    width: 100%;
    margin-top: auto;
    }

footer .line-footer1{
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

.line-footer1 h2{
    font-size: 2rem;   
}

.line-footer1 p{
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
}

.line-footer1 form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-footer1 form input[type=email]{
    width: 300px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px; 
}

.line-footer1 form input[type=submit]{
    width: 80px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: #57a7ec;
    border: 0;
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
    margin: 5px;
}

.line-footer1 form input[type=submit]:hover{
    background-color: #4687ff;
    color: white;
}

footer .line-footer2{
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

footer .line-footer2 .box-line-footer{
    max-width: calc(100%/4);
}

footer .box-line-footer img{
    max-width: 200px;
    margin-bottom: 10px;   
}

.line-footer2 .box-line-footer h3{
    color: white;
    margin-bottom: 20px;
} 

.line-footer2 .box-line-footer a{
    color:white; 
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: .9rem;
}

.line-footer2 .box-line-footer .btnicon {
    display: inline-block;
}


.line-footer2 .box-line-footer a:hover{
    color: #4687ff;
}